/*Difference with gmap iframe script, this script as all others, does no need to be avoid to be appended in the zzz main script.*/

/*Visit this site, wait it load the map, this can take up to 30 sec depending your system, you should notice it, all load, less in dark:*/


/*
https://codesandbox.io/embed/github/googlemaps/js-samples/tree/sample-style-array
*/


/*Then you can change the url, the simple URLS does not change but this require much more unreliability and maintenening situation is not sustainble.*/


/*

Dont forget for this to works , you have to allow in options of Stylus, the chrome extension, the iframe functionnality, that way the extension tag with a class name every elements needed later like here.
*/




iframe[src="https://0l6dh.sse.codesandbox.io"],html[stylus-iframe="https://codesandbox.io"],html[stylus-iframe="https://codesandbox.io"] body{
    color:inherit !important;
    background:inherit !important;
    background-color:inherit !important;
}
    /*the Iframe was unecessary there and empty*/
html[stylus-iframe="https://codesandbox.io"] body iframe,html[stylus-iframe="https://codesandbox.io"] body iframe > * {
        display:  none !important;
        visibility: hidden !important;
        background:inherit !important;
    background-color:inherit !important;
}

/*
WE COULD TRY USE $= and *= etc for avoid domain change and keep matching longer as possible
*/
/*
You can delete more layers, maybe:
*/
/*
all:unset !important;
*/
